*{
    box-sizing: border-box;
}

.main-section{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

    video{
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        display: inline;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 10;
        display: flex;
        row-gap: 1.5em;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            font-size: 4.625rem;
            text-align: center;
            font-family: inherit;
            font-weight: 700;
            color: #fff;

            span{
                color: #FFCF23;
            }

            @media(max-width:768px){
                font-size: 4.2rem;
            }

            @media(max-width:576px){
                font-size: 3rem;
            }
        }

        img{
            width: 266px;
            height: 266px;
            border-radius: 50%;
            border: 2px solid #ffcf23;

            @media(max-width:768px){
                width: 200px;
                height: 200px;
            }
        }

        .name-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 0.5em;
            @media(max-width:768px){
                row-gap: 0.8em;
            }
            @media(max-width:576px){
                row-gap: 1em;
            }
            h3{
                font-size: 2.8125rem;
                text-align: center;
                font-family: inherit;
                font-weight: 700;
                color: #fff;
                span{
                    color: #FFCF23;
                }

                @media(max-width:768px){
                    font-size: 2.6rem;
                }

                @media(max-width:576px){
                    font-size: 2rem;
                }
            }
    
            p{
                font-size: 1.4625rem;
                text-align: center;
                font-family: inherit;
                font-weight: 400;
                color: #fff;
                span{
                    color: #FFCF23;
                }
                @media(max-width:768px){
                    font-size: 1.2rem;
                }
                @media(max-width:576px){
                    font-size: 1rem;
                }
            }
        }
    }
}